body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.all2 {
    display: block;
    opacity: 1;
}

.all {
    display: none;
    opacity: 0;
}

.top {
    position: relative;
}

.top h1 {
    position: absolute;
    top: 30%;
    font-size: 6vw;
    padding: 1vw;
    color: white;
}

.top img {

    width: 100vw;
    height: auto;
}

.scroll {
    position: fixed;
    left: 1vw;
    bottom: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    opacity: 0;
    transition: all 0.65s;
    display: block;
}

.scroll.isActive {
    opacity: 1;
    transition: all 0.65s;
}

.button {
    position: relative;
    width: 20vw;
    height: 7.5vw;
    margin: 0;
    font-size: 2vw;
    text-align: center;
    border: 1px solid white;
    display: block;
    transition: 0.5s
}

.button p {
    position: absolute;
    top: 10%;
    left: 25%;
    font-size: 2vw;
    transition: 0.1s
}

.top2 h1 {
    font-size: 4vw;
    padding: 1vw;
    margin-bottom:0;
    color: black;
}
.middle{
    position:relative;
    display: inline-block;
}
.middle div{
    width:15vw;
    margin-top:0;
    margin-bottom:0;
    margin-left:1vw;
    padding-top:0;
    padding-bottom:0;
    display: inline-block;
    border-left:1vw solid black;
    padding-left:1vw;
}
.middle h4{
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
    font-size:3vw;
}
.h40 {
    transition:0.5s;
}
.h41 {
    position:absolute;
   left:0;
    display: none;
    opacity: 0;
    transition:0.5s;
}
.h42 {
    position:absolute;
    left:0;
    display: none;
    opacity: 0;
    transition:0.5s;
}
.h43 {
    position:absolute;
    left:0;
    display: none;
    opacity: 0;
    transition:0.5s;
}
.middle:hover{
    width:60vw;

}
.middle:hover .h40{
    background-color: black;
    color:white;
}
.middle:hover .h41{
  position:absolute;
  left:18vw;
  display: inline-block;
  opacity: 1;
}
.middle:hover .h42{
    position:absolute;
    left:36vw;
    display: inline-block;
    opacity: 1;
  }
  .middle:hover .h43{
    position:absolute;
    left:54vw;
    display: inline-block;
    opacity: 1;
  }
   .show{
    margin-top:2vw;
    margin-left:1vw;
    margin-right: 1vw;
    padding-top:1vw;
    padding-left:3vw;
    padding-bottom:2vw;
    font-weight:600;
    font-size:3vw;
    color:white;
    background-color:black;
   }
   .direction{
    margin-left:1vw;
    width:auto;
    height:15vw;
   }
.h4s{
    width:100vw;
    border-bottom:0.25vw solid black;
    
    margin-right:1vw;
    margin-bottom:2vw;
}
.place .div {
    margin-left: 1vw;
    margin-right: 1vw;
    padding-left:2vw;
    padding-bottom:2vw;
    background-color: black;
}

.place p {
    display: inline-block;
    margin-right: 1vw;
    padding-left: 0.5vw;
    font-weight: 520;
    font-size: 1vw;
    color: white;
}

.place p:hover{
font-weight:600;
font-size:1.1vw;
}

.direpic{
    position:relative;
    width:100vw;
    height:15vw;
    
}
.dd{
    width:80vw;
    margin-left:10vw;
    margin-right:10vw;
}
.d{
    position:relative;
}
.d .direction{
    position: absolute;
    left:0;
    z-index:100;
}
.d h1{
    width:85vw;
    position:sticky;
    top:-10vw;
    font-size:3vw;
    margin-top:0;
    padding-left:15vw;
    padding-top:11vw;
    font-weight:650;
    background-color: white;
    z-index:0;
    border-bottom:2px solid #DCDDDD	;
}

/*div show directionの非表示*/
.div{
    display: none;
    opacity: 0r;
}
.show{
    display: none;
    opacity: 0;
}
.direction{
    display: none;
    opacity: 0;
}
.showname{
    display: none;
    opacity: 0;
}